In [1]:
import pandas as pd

In [52]:
df = pd.read_csv('C:/Users/CHK/Desktop/Final_Project/price_prediction/model6/processed_ko_4.csv')

In [53]:
df.drop(['Unnamed: 0', 'SEQ'], axis=1, inplace=True)

In [55]:
df.head()

,PRICE,MYERAR,MILEAGE,COLOR,TRANS,F_TYPE,DISP,VTYPE,VNUM,CU_HIS,MVD_HIS,AVD_HIS,TL_HIS,FD_HIS,VT_HIS,US_HIS,LMNAME,MNAME
0,173.0,2018,80800.0,흰색,자동,디젤,2497.0,트럭,92너0923,NaN,1.0,5.0,0.0,0.0,0.0,4.0,기아 봉고3 윙바디 탑차,기아 봉고
1,522.0,2022,52600.0,검정색,자동,가솔린,3342.0,대형,183너2180,NaN,0.0,0.0,0.0,0.0,0.0,1.0,기아 더 K9 3.3 AWD,기아 K9
2,95.0,2012,156291.0,흰색,자동,가솔린,1998.0,스포츠카,30고8622,NaN,1.0,1.0,0.0,0.0,0.0,7.0,현대 더 뉴 제네시스 쿠페 2.0 터보 S,현대 제네시스쿠페
3,63.0,2010,174361.0,검정색,자동,가솔린,1998.0,스포츠카,20도3968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,현대 제네시스 쿠페 2.0 터보 R,현대 제네시스쿠페
4,57.9,2016,122000.0,흰색,자동,디젤,1597.0,SUV,65구0993,NaN,5.0,3.0,0.0,0.0,0.0,2.0,KG모빌리티 티볼리 1.6 디젤 2WD TX,KG모빌리티 티볼리

In [56]:
new_order = ['LMNAME', 'MNAME'] + [col for col in df.columns if col not in ['LMNAME', 'MNAME']]
df = df[new_order]

In [57]:
df['MYERAR'] = 2024 - df['MYERAR'] + 1

In [36]:
df.columns

Index(['LMNAME', 'MNAME', 'PRICE', 'MYERAR', 'MILEAGE', 'COLOR', 'TRANS',
       'F_TYPE', 'DISP', 'VTYPE', 'VNUM', 'CU_HIS', 'MVD_HIS', 'AVD_HIS',
       'TL_HIS', 'FD_HIS', 'VT_HIS', 'US_HIS'],
      dtype='object')

In [58]:
df = df.fillna(0)

In [37]:
columns_to_keep = ['MNAME', 'PRICE', 'MYERAR', 'MILEAGE', 'CU_HIS', 'MVD_HIS', 'AVD_HIS', 'TL_HIS', 'FD_HIS', 'VT_HIS', 'US_HIS']
df = df[columns_to_keep]

In [41]:
len(df['MNAME'].unique())

110

In [42]:
df['MNAME'].value_counts()

MNAME
기아 카니발        470
현대 그랜저        427
현대 포터         332
현대 싼타페        278
기아 쏘렌토        254
             ...
KG모빌리티 무쏘       1
현대 엑셀           1
KG모빌리티 카이런      1
르노코리아 트위지       1
KG모빌리티 액티언      1
Name: count, Length: 110, dtype: int64

In [63]:
df.loc[df['COLOR'] == '인기색상', 'COLOR'] = '흰색'
df.loc[df['COLOR'] == '현대 펠리세이드', 'COLOR'] = '현대 팰리세이드'

In [50]:
df[df['MNAME']=='현대 펠리세이드']

Empty DataFrame
Columns: [MNAME, PRICE, MYERAR, MILEAGE, CU_HIS, MVD_HIS, AVD_HIS, TL_HIS, FD_HIS, VT_HIS, US_HIS]
Index: []

In [60]:
df.columns

Index(['LMNAME', 'MNAME', 'PRICE', 'MYERAR', 'MILEAGE', 'COLOR', 'TRANS',
       'F_TYPE', 'DISP', 'VTYPE', 'VNUM', 'CU_HIS', 'MVD_HIS', 'AVD_HIS',
       'TL_HIS', 'FD_HIS', 'VT_HIS', 'US_HIS'],
      dtype='object')

In [67]:
df.drop(['VTYPE', 'VNUM'], axis=1, inplace=True)

In [69]:
df.drop(['LMNAME', 'MNAME'], axis=1, inplace=True)

In [71]:
df = pd.get_dummies(df, columns=['COLOR', 'TRANS', 'F_TYPE'])
df

,PRICE,MYERAR,MILEAGE,DISP,CU_HIS,MVD_HIS,AVD_HIS,TL_HIS,FD_HIS,VT_HIS,...,F_TYPE_가솔린+LPG,F_TYPE_가솔린/LPG겸용,F_TYPE_기타,F_TYPE_디젤,F_TYPE_수소,F_TYPE_전기,F_TYPE_하이브리드,F_TYPE_하이브리드(LPG),F_TYPE_하이브리드(가솔린),F_TYPE_하이브리드(가솔린/전기)
0,173.0,7,80800.0,2497.0,0.0,1.0,5.0,0.0,0.0,0.0,...,False,False,False,True,False,False,False,False,False,False
1,522.0,3,52600.0,3342.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
2,95.0,13,156291.0,1998.0,0.0,1.0,1.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
3,63.0,15,174361.0,1998.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
4,57.9,9,122000.0,1597.0,0.0,5.0,3.0,0.0,0.0,0.0,...,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6043,2390.0,4,72162.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,True,False,False,False,False,False,False
6044,1190.0,7,82286.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
6045,1390.0,7,131512.0,1490.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,True,False
6046,560.0,15,113517.0,1591.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
6047,1850.0,5,31502.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False

In [73]:
df.to_csv('pre-processed_data.csv')

In [193]:
df.shape

(6048, 159)

In [157]:
from sklearn.cluster import KMeans

df.columns
kmeans = KMeans(n_clusters=3, random_state=42)  # 클러스터 개수는 적절히 조절
kmeans.fit(df)

# 클러스터링 결과 확인
df['cluster'] = kmeans.labels_
print(df['cluster'].value_counts())

cluster
1    2656
2    2630
0     762
Name: count, dtype: int64

In [158]:
from xgboost import XGBRegressor

# 각 클러스터별 모델 학습 및 가격 예측
models = {}
for cluster_id in df['cluster'].unique():
    cluster_data = df[df['cluster'] == cluster_id]
    X = cluster_data.drop(['PRICE', 'cluster'], axis=1)  # 입력 변수
    y = cluster_data['PRICE']  # 타겟 변수

    # XGBoost Regressor 모델 생성 및 학습
    model = XGBRegressor()
    model.fit(X, y)
    models[cluster_id] = model

# 각 클러스터별 모델 예측 결과 확인
for cluster_id, model in models.items():
    cluster_data = df[df['cluster'] == cluster_id]
    X_test = cluster_data.drop(['PRICE', 'cluster'], axis=1)  # 테스트 데이터 입력 변수
    y_pred = model.predict(X_test)  # 예측 결과
    print(f"Cluster {cluster_id} 예측 결과:", y_pred)

Cluster 2 예측 결과: [ 132.89781  506.04657  243.53642 ... 2361.3765  1430.5977  2055.7363 ]
Cluster 1 예측 결과: [  69.57425    55.424164   49.47043  ... 2328.1338   1417.1952
  468.85425 ]
Cluster 0 예측 결과: [ 7.93404236e+01  4.82808495e+01  1.96381424e+02  3.19298782e+01
  8.21624298e+01  1.45648544e+02  2.61571716e+02  2.12256088e+02
  5.80853920e+01  8.80477066e+01  7.78998795e+01  5.85050842e+02
  1.55345001e+02  5.75711548e+02  2.26051193e+02  1.86120880e+02
  4.26189346e+01  5.63710518e+01  5.16228218e+01  4.96977417e+02
  3.43987000e+02  7.74525528e+01  4.08865021e+02  1.28714203e+02
  1.33298889e+02  3.64404602e+02  1.38502594e+02  6.33310432e+01
  7.91548080e+01 -6.52835941e+00  3.69709320e+01  8.97550812e+01
  6.99262466e+01  1.32245140e+01  2.48538647e+01  4.60189743e+01
  3.14037552e+01  5.10968742e+01  5.47701340e+01  5.49812393e+01
  4.95821915e+01  4.42604485e+01  4.41427956e+01 -2.59184551e+01
  5.56598892e+01  2.42712708e+01  1.24323118e+00  6.16447563e+01
  9.87242279e+01  2.20260208e+02  1.17387856e+02  4.78801155e+01
  6.04700165e+01  4.66980743e+01  5.84849167e+01  8.01973343e+01
  9.03499451e+01  1.39069855e+02  4.38444557e+01  1.54883301e+02
  1.83959751e+01  1.06077751e+02  8.92721558e+01  2.52158279e+02
  1.86387344e+02  1.53649124e+02  8.08758240e+01  8.66680069e+01
  1.30319687e+02  9.06961212e+01  1.75330612e+02  1.23684868e+02
  3.42814941e+01  1.64121613e+02  8.03346329e+01  6.00603256e+01
  8.60558167e+01  2.31860523e+01  2.38267517e+01  6.85577087e+01
  7.85479736e+01  6.79692383e+01  1.33874908e+02  3.74898743e+02
  7.22469025e+01  2.35857754e+01  6.70914364e+00  5.75465202e+01
  5.49348412e+01  6.93384857e+01  5.14487915e+01  9.90764008e+01
  2.32636929e+01  3.02894630e+01  4.41037369e+01  9.18434982e+01
  6.79271469e+01  7.95364227e+01  3.49574585e+01  9.30659256e+01
  4.70558586e+01  2.64207401e+01  2.04406586e+02  1.84658798e+02
  1.29322195e+01  3.10437908e+01  4.86409721e+01  8.68087234e+01
  3.66220016e+01  6.85069153e+02  3.35594482e+01  3.50672569e+01
  1.53129349e+02  3.74695282e+01  1.87211868e+02  9.52190247e+01
  1.90697327e+01  9.86165588e+02  9.27480392e+01  8.95072403e+01
  1.25246063e+02  1.46035767e+02  2.99840271e+02  5.27556121e-01
  5.08158379e+01  7.84515152e+01  4.43175201e+01  1.97179451e+01
  9.23822861e+01  5.02203903e+01  4.33350677e+01  1.59178131e+02
  1.17598709e+02  6.29810156e+04  6.87995377e+01  9.28805008e+01
  5.20475426e+01  5.76546478e+00  6.04672432e+01  1.61593979e+02
  2.05493546e+02  4.52695312e+01  2.49152145e+02  5.36092873e+01
  8.82625809e+01  6.43267899e+01  1.02559937e+02  8.07706909e+01
  8.01588287e+01  1.06787247e+02  5.07339859e+01  1.41139359e+02
  1.79782104e+02  1.21395042e+02  8.77409592e+01  8.83033676e+01
  1.54727890e+02  1.53746979e+02  1.43377106e+02  9.07987366e+01
  6.78385620e+01  2.08737839e+02  2.00002655e+02  1.07748520e+02
  8.41741943e+01  2.60161346e+02  2.43779999e+02  7.29484787e+01
  7.27359558e+02  8.63035339e+02  6.44698547e+02  3.70248322e+02
  5.98454956e+02  6.57212158e+02  8.23298950e+02  6.25859558e+02
  4.94831177e+02  1.00108936e+03  9.48480301e+01  1.06018579e+03
  2.00157373e+03  6.76830322e+02  4.24529053e+02  2.29714813e+02
  6.70937500e+02  8.05302246e+02  6.17323242e+02  2.29090424e+02
  3.88147485e+03  5.56241699e+02  4.64336243e+02  7.94356873e+02
  2.76680298e+03  1.89368542e+03  2.41215405e+03  3.87698511e+03
  4.60768250e+02  1.73650012e+03  1.16422668e+03  2.82649414e+02
  6.58279053e+02  7.84253845e+02  6.78219421e+02  3.15406586e+02
  1.29136340e+03  6.55277954e+02  6.98866211e+02  7.93882751e+02
  5.27708557e+02  1.55537854e+03  6.93180908e+02  4.28655243e+02
  3.56559052e+02  1.23884949e+02  7.53405090e+02  7.65239380e+02
  4.94525421e+02  4.56366119e+02  5.49644348e+02  7.70449768e+02
  1.35881116e+03  9.82261841e+02  5.85873352e+02  7.44795288e+02
  1.22370593e+03  5.25767029e+02  2.18449829e+02  1.73915271e+03
  2.53587006e+02  8.16224060e+02  1.57865222e+03  2.93667480e+02
  6.00651917e+02  5.68279053e+02  6.39654968e+02  5.80857727e+02
  7.27933594e+02  4.36542328e+02  1.27579236e+03  6.65908875e+02
  4.62705170e+02  3.38536682e+02  4.30091553e+02  4.19964844e+02
  4.94803772e+02  1.39874219e+03  2.63511017e+02  8.73780090e+02
  3.03582764e+02  1.97515967e+03  1.46103650e+03  4.70504639e+02
  4.13317291e+02  7.24749268e+02  1.58210535e+03  2.36456726e+02
  1.61471313e+03  1.54866125e+03  6.11309021e+02  1.88311462e+03
  9.42086426e+02  8.25427063e+02  2.75177307e+02  3.07412061e+03
  8.11792175e+02  8.59922363e+02  6.75341675e+02  7.16937500e+02
  2.26784500e+02  4.26676239e+02  3.90073578e+02  1.80524445e+02
  5.80906250e+02  3.40957336e+02  5.69699341e+02  3.38360321e+02
  4.88103333e+02  5.83158386e+02  1.32946436e+03  7.69251709e+02
  7.11150330e+02  2.10820602e+02  1.63906641e+03  1.23077808e+03
  1.28979456e+03  1.25008569e+03  5.57168030e+02  1.15982239e+03
  1.73989050e+03  7.17700867e+02  4.66609009e+02  6.80451416e+02
  8.89187866e+02  3.60491882e+02  6.43918274e+02  4.44555481e+02
  7.09193481e+02  7.89992493e+02  1.03932996e+03  6.48911987e+02
  3.60946320e+02  1.06945349e+03  7.13171143e+02  4.82209656e+02
  1.31445020e+03  1.54511719e+03  1.27279333e+03  6.24209473e+02
  3.37663818e+02  1.81659033e+03  5.37424805e+02  7.35132568e+02
  9.20997131e+02  3.18026825e+02  1.63194260e+02  6.54340271e+02
  5.52406677e+02  2.90859589e+02  1.08164465e+03  3.09802185e+02
  1.01789893e+03  1.20188257e+03  9.16311646e+02  3.46843018e+02
  4.77736420e+02  4.59701660e+02  1.65144263e+03  9.03039978e+02
  1.48499048e+03  1.09606177e+03  1.60397876e+03  2.79942041e+03
  1.13914014e+03  3.60177344e+03  8.60740295e+02  1.20072473e+03
  1.23232910e+03  1.22053210e+03  1.94055640e+03  4.19978851e+02
  8.55332581e+02  9.70294434e+02  4.61598694e+02  9.84180176e+02
  4.05538361e+02  3.38965057e+02  2.07108594e+03  5.19777893e+02
  6.15617554e+02  5.65481567e+02  5.19311707e+02  6.92406677e+02
  2.63288159e+03  6.09985596e+02  1.01546588e+03  1.34024451e+03
  6.65270874e+02  3.96247040e+02  1.61079175e+03  5.39487244e+02
  2.14665625e+03  1.54863022e+02  4.36461304e+02  1.00400592e+03
  7.56037476e+02  5.11914673e+02  3.44439117e+02  1.98923572e+03
  5.08444611e+02  8.49142334e+02  1.45208276e+03  2.85354401e+02
  3.38790771e+02  4.70756897e+02  3.82560089e+02  6.43683228e+02
  1.24641687e+03  8.10135803e+02  5.48796753e+02  1.69394275e+03
  1.47433203e+03  5.48200256e+02  8.23961365e+02  4.38414398e+02
  3.22467590e+02  9.78230530e+02  1.68285339e+03  2.87552399e+02
  1.57894531e+03  5.98151794e+02  2.89230164e+02  1.16908923e+03
  3.05621277e+02  5.36631287e+02  5.69648682e+02  9.42468445e+02
  4.40873535e+02  9.69567017e+02  1.21904211e+03  9.01451721e+02
  2.12846405e+02  6.68823547e+02  2.30015808e+02  1.67515332e+03
  4.34281097e+02  4.52058167e+02  1.46502332e+03  5.44722229e+02
  4.98687286e+02  5.21194824e+02  3.84585205e+02  2.79296967e+02
  6.28289307e+02  7.23582092e+02  1.02300830e+03  1.03403259e+03
  1.67881628e+03  4.92494232e+02  4.11635284e+02  8.57159058e+02
  1.02173511e+03  8.29487549e+02  6.01571167e+02  3.85622345e+02
  7.15384094e+02  3.18676331e+02  7.00665466e+02  6.41770508e+02
  3.55767487e+02  1.15142432e+03  6.95462158e+02  2.69470062e+02
  3.53016632e+02  4.59305786e+02  6.85575012e+02  4.63832520e+02
  6.01992126e+02  3.52434723e+02  1.08409717e+03  6.16521423e+02
  4.69038818e+02  1.13740112e+03  7.83064026e+02  1.48596814e+03
  9.04679199e+02  1.37181201e+03  8.33389099e+02  7.78665161e+02
  4.67220154e+02  8.62282166e+02  2.69767303e+02  7.60257507e+02
  1.84687500e+02  4.14506592e+02  1.41114075e+03  5.93919250e+02
  4.69949646e+02  3.98765228e+02  7.11277161e+02  4.96656586e+02
  5.73388184e+02  4.27552307e+02  5.43941284e+02  6.72473450e+02
  1.56277698e+03  7.08635193e+02  3.51365326e+02  8.66479248e+02
  4.54771210e+02  1.07255615e+03  7.33899170e+02  7.49968994e+02
  1.17631946e+03  6.75689026e+02  3.88020752e+02  9.48474915e+02
  1.04612976e+03  3.64229126e+02  2.89291687e+02  5.73392700e+02
  6.51125488e+02  4.99363007e+02  4.06426819e+02  1.49821826e+03
  2.79005347e+03  7.79820190e+02  9.17132996e+02  3.98736847e+02
  1.01710144e+03  9.68117188e+02  5.23129822e+02  8.27957458e+02
  6.84129761e+02  7.56458313e+02  1.23618372e+03  3.97244043e+03
  1.06722937e+03  1.00882904e+03  1.37385583e+03  7.31097290e+02
  6.79913513e+02  3.36281708e+02  5.84671204e+02  3.18758514e+02
  7.15324280e+02  2.00379837e+02  4.86781616e+02  6.21747253e+02
  7.09300476e+02  3.56218872e+02  6.16776855e+02  4.11964264e+02
  6.71774963e+02  5.15701172e+02  3.88265991e+02  4.07832581e+02
  6.41673767e+02  1.65739441e+03  8.21190125e+02  5.84578491e+02
  8.95090210e+02  2.80444409e+03  7.93541687e+02  3.15787323e+02
  9.76316101e+02  6.55544312e+02  7.11139099e+02  7.79275269e+02
  6.38813110e+02  5.16965698e+02  2.19559082e+03  4.10783569e+02
  2.65072510e+02  8.16623718e+02  6.25199402e+02  4.09276886e+02
  1.26788965e+03  1.09395190e+03  4.97579010e+02  5.89788818e+02
  4.92222412e+02  1.12221655e+03  8.25032471e+02  5.06774536e+02
  9.12337708e+02  9.29122253e+02  3.57788757e+02  3.28087646e+02
  6.54914185e+02  6.15568298e+02  1.01867010e+03  4.04484375e+02
  3.79369965e+02  1.26317200e+03  5.11742798e+02  1.10256763e+03
  6.62968140e+02  6.57914856e+02  4.61914764e+02  6.36822083e+02
  1.24741553e+03  7.28685669e+02  1.60749463e+03  9.22568115e+02
  3.60759583e+02  1.11093677e+03  4.76799103e+02  7.66638611e+02
  9.90202515e+02  2.67353699e+02  3.85263031e+02  1.70511890e+03
  4.31577881e+02  6.14558838e+02  7.36619324e+02  7.33114807e+02
  8.86804321e+02  3.68960541e+02  7.31817322e+02  5.71415527e+02
  3.80254608e+02  3.38576538e+02  9.16345581e+02  5.92925293e+02
  5.38237915e+02  1.65635461e+03  3.08569061e+02  5.91855896e+02
  6.24376648e+02  6.13676758e+02  5.65659302e+02  5.40631470e+02
  3.87389404e+02  3.84193756e+02  1.19379016e+03  6.66740112e+02
  1.02527881e+03  5.41707886e+02  4.07984070e+02  2.39721359e+02
  1.61307831e+02  8.53195068e+02  3.14926788e+02  9.43386047e+02
  2.62176361e+02  6.19996216e+02  3.91131317e+02  3.45105072e+02
  5.54742676e+02  5.48498230e+02  4.68709045e+02  3.50481445e+02
  1.60116223e+03  7.04995728e+02  5.37702820e+02  4.05046661e+02
  5.98388367e+02  2.83030249e+03  3.50309174e+02  5.58504272e+02
  8.52614807e+02  5.92996216e+02  4.00003326e+02  7.43016296e+02
  1.73850189e+02  6.83417419e+02  8.44992249e+02  4.67591156e+02
  7.29266235e+02  8.83395264e+02  6.79333679e+02  7.10962463e+02
  4.19134460e+02  5.28573120e+02  7.06253113e+02  1.14902710e+03
  6.41554565e+02  1.68808960e+03  4.30862915e+02  1.38931458e+03
  5.54483154e+02  4.58580688e+02  6.81074036e+02  7.34224548e+02
  1.07782446e+03  2.61005493e+02  6.68110840e+02  3.21075867e+02
  3.57187042e+02  3.52790527e+02  5.70734924e+02  5.83295532e+02
  7.18072144e+02  7.76487854e+02  5.48627747e+02  7.29094910e+02
  2.52299774e+02  1.59477466e+03  5.13210938e+02  6.42156555e+02
  7.12604309e+02  7.54728271e+02  7.73387939e+02  4.13071503e+02
  2.43749313e+02  4.76155792e+02  2.74609802e+02  7.35931458e+02
  1.40370996e+03  2.37469299e+02  2.43308411e+02  9.11914246e+02
  5.13764099e+02  5.52289917e+02  1.94345300e+03  8.18193115e+02
  1.81067871e+02  4.30154877e+02  5.58601562e+02  2.74930206e+02
  5.16737244e+02  4.80942719e+02  6.10031128e+02  3.74867584e+02
  6.02970398e+02  7.43200378e+02  5.80076233e+02  9.16539246e+02
  1.01596576e+03  7.24701416e+02  6.59820862e+02  8.48830933e+02
  3.77272766e+02  9.54328674e+02  3.15804688e+02  6.12804504e+02
  4.44647675e+02  7.36202820e+02  6.39176208e+02  4.31709717e+02
  4.01645966e+02  7.64138733e+02  7.44565125e+02  3.61887054e+02
  5.04713165e+02  4.84149780e+02  4.47147095e+02  5.52923523e+02
  4.41189331e+02  7.46349548e+02  2.01049219e+03  5.62044312e+02
  9.21275024e+02  4.53415588e+02  6.93064941e+02  4.48519318e+02
  1.65604645e+02  1.52475903e+03  6.28150940e+02  1.10338538e+03
  4.17118378e+02  5.44295593e+02  6.90700623e+02  5.30382629e+02
  5.95768677e+02  6.63742920e+02  1.62163940e+02  8.06765259e+02
  2.28327103e+02  1.91894336e+03  3.86838501e+02  5.42785461e+02
  5.28201599e+02  5.35540588e+02  5.43777466e+02  5.31622925e+02
  4.92028015e+02  1.27980725e+03  8.62432800e+02  3.17352600e+02
  8.47179565e+02  1.68761316e+03  1.86936499e+03  5.60234314e+02
  4.32534393e+02  3.84460388e+02  2.33553238e+02  4.68465332e+02
  7.22746521e+02  8.45342896e+02  2.09596344e+02  5.55524841e+02
  2.27309021e+02  5.43730103e+02  9.49734436e+02  2.61315857e+02
  4.37593170e+02  5.55347290e+02  6.18802917e+02  3.42015228e+02
  3.81725159e+02  3.53285736e+02]

In [159]:
# 각 클러스터별 모델 예측 결과 저장
predictions = pd.DataFrame(columns=['실제값', '예측값'])

for cluster_id, model in models.items():
    cluster_data = df[df['cluster'] == cluster_id]
    X_test = cluster_data.drop(['PRICE', 'cluster'], axis=1)  # 테스트 데이터 입력 변수
    y_test = cluster_data['PRICE']  # 실제값

    # 예측값 계산
    y_pred = model.predict(X_test)

    # 결과를 데이터프레임에 추가
    cluster_predictions = pd.DataFrame({'실제값': y_test, '예측값': y_pred})
    predictions = pd.concat([predictions, cluster_predictions])

# 예측값과 실제값 출력
print(predictions)

        실제값    예측값
0    173.00 132.90
1    522.00 506.05
17   247.60 243.54
19    50.00 257.38
20   103.00 326.60
...     ...    ...
6000 540.00 555.35
6003 700.00 618.80
6005 270.00 342.02
6009 360.00 381.73
6035 340.00 353.29

[6048 rows x 2 columns]

C:\Users\CHK\AppData\Local\Temp\ipykernel_14016\1768252444.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  predictions = pd.concat([predictions, cluster_predictions])

In [160]:
from sklearn.metrics import mean_squared_error

# 각 클러스터별 모델의 MSE 저장할 딕셔너리 생성
cluster_mses = {}

# 각 클러스터별 모델 예측 결과 저장
for cluster_id, model in models.items():
    cluster_data = df[df['cluster'] == cluster_id]
    X_test = cluster_data.drop(['PRICE', 'cluster'], axis=1)  # 테스트 데이터 입력 변수
    y_test = cluster_data['PRICE']  # 실제값

    # 예측값 계산
    y_pred = model.predict(X_test)

    # 각 클러스터별 MSE 계산
    mse = mean_squared_error(y_test, y_pred)

    # 결과를 딕셔너리에 저장
    cluster_mses[cluster_id] = mse

# 각 클러스터별 MSE 출력
for cluster_id, mse in cluster_mses.items():
    print(f"Cluster {cluster_id} MSE:", mse)
    print(f"Cluster {cluster_id} sqrt MSE:", mse**0.5)

Cluster 2 MSE: 95344.98776118767
Cluster 2 sqrt MSE: 308.77983703795763
Cluster 1 MSE: 30565.308258327397
Cluster 1 sqrt MSE: 174.82936898109367
Cluster 0 MSE: 2268.8772187756354
Cluster 0 sqrt MSE: 47.63273264023003

In [161]:
for i in df['cluster'].unique():
    print(f'cluster {i}:', df[df['cluster']==i]['PRICE'].mean())

cluster 2: 2852.4793646387834
cluster 1: 1061.2069277108435
cluster 0: 708.1446259842519

In [163]:
for cluster_id, model in models.items():
    # print(cluster_id)
    cluster_data = df[df['cluster'] == cluster_id]
    X_test = cluster_data.drop(['PRICE', 'cluster'], axis=1)  # 테스트 데이터 입력 변수
    y_test = cluster_data['PRICE']  # 실제값

    # 예측값 계산
    y_pred = model.predict(X_test)
    
    print(f"cluster_mses[{cluster_id}]", cluster_mses[cluster_id])
    # 결과를 데이터프레임에 추가
    cluster_predictions = pd.DataFrame({'실제값': y_test,
                                        '예측값': y_pred,
                                        '최소값': y_pred-(cluster_mses[cluster_id]**0.5),
                                        '최대값': y_pred+(cluster_mses[cluster_id]**0.5),
                                        '범위 포함 여부': ((y_pred > y_pred-(cluster_mses[cluster_id]**0.5)) &
                                                          (y_pred < y_pred+(cluster_mses[cluster_id]**0.5))).any()
                                        })


# 예측값과 실제값 출력
print(cluster_predictions)
cluster_predictions.to_csv('pred_result7.csv')
print(cluster_predictions['범위 포함 여부'].value_counts())

cluster_mses[2] 95344.98776118767
cluster_mses[1] 30565.308258327397
cluster_mses[0] 2268.8772187756354
        실제값    예측값    최소값    최대값  범위 포함 여부
13    73.90  79.34  31.71 126.97      True
22    44.90  48.28   0.65  95.91      True
25    59.00 196.38 148.75 244.01      True
46    31.90  31.93 -15.70  79.56      True
51    75.00  82.16  34.53 129.80      True
...     ...    ...    ...    ...       ...
6000 540.00 555.35 507.71 602.98      True
6003 700.00 618.80 571.17 666.44      True
6005 270.00 342.02 294.38 389.65      True
6009 360.00 381.73 334.09 429.36      True
6035 340.00 353.29 305.65 400.92      True

[762 rows x 5 columns]
범위 포함 여부
True    762
Name: count, dtype: int64

# 특정값 예측

In [164]:
len(df.columns)

159

In [185]:
df.shape

(6048, 159)

In [200]:
first_row_df = df.iloc[[0]]

In [204]:
df.dtypes

PRICE                   float64
MYERAR                    int64
MILEAGE                 float64
DISP                    float64
CU_HIS                  float64
                         ...
F_TYPE_하이브리드               bool
F_TYPE_하이브리드(LPG)          bool
F_TYPE_하이브리드(가솔린)          bool
F_TYPE_하이브리드(가솔린/전기)       bool
cluster                   int32
Length: 159, dtype: object