In [75]:
import pandas as pd

In [76]:
df = pd.read_csv('C:/Users/CHK/Desktop/Final_Project/데이터 전처리/kb_whole_car(2nd_processed).csv', encoding='cp949')

In [77]:
len(df)

24222

# 1. MYEAR - '0000' 형태로 전처리

In [78]:
def update_year(year):
    if int(year[:2]) > 50:
        return '19' + year[:2]
    else:
        return '20' + year[:2]

df['MYEAR'] = df['MYEAR'].apply(update_year)

In [79]:
df.head()

,SEQ,MNAME,PRICE,MYEAR,MILEAGE,COLOR,TRANS,F_TYPE,DISP,VTYPE,VNUM,CU_HIS,MVD_HIS,AVD_HIS,FD_HIS,VT_HIS,US_HIS,L_NAME
0,1,한국GM 쉐보레 스파크 밴 2인승 밴,230,2015,164960,흰색,오토,가솔린,995,경차,64무8645,0,0,0,0,0,1,NaN
1,2,한국GM 쉐보레 트랙스 1.6 디젤 LTZ,940,2015,38763,회색,오토,디젤,0,소형,65우0885,0,0,0,0,0,6,NaN
2,3,한국GM 쉐보레 크루즈 1.8 LT 기본형,440,2012,117158,흰색,오토,가솔린,1796,준중형,49저9588,0,0,0,0,0,1,NaN
3,4,한국GM 신형 캡티바 2.0 스페셜 에디션 5인승 퍼펙트 블랙,1450,2017,76000,검정색,오토,디젤,1956,SUV,16로1199,0,0,0,0,0,1,NaN
4,5,한국GM 올 뉴 말리부 1.5 터보 LTZ,1230,2016,59829,파랑색,오토,가솔린,1490,중형,64주0343,0,0,0,0,0,2,NaN

# 2. DISP 전처리(VTYPE별 DISP 평균치로 0값 대체)

In [80]:
import numpy as np

# 1. DISP가 0인 값을 NaN으로 바꿉니다.
df['DISP'] = df['DISP'].replace(0, np.nan)

# 2. VTYPE별로 DISP의 평균을 계산합니다.
average_disp_by_vtype = df.groupby('VTYPE')['DISP'].mean()

# 3. 각 VTYPE의 평균 DISP를 사용하여 DISP가 NaN인 행의 값을 채웁니다.
for vtype, avg_disp in average_disp_by_vtype.items():
    df.loc[(df['DISP'].isnull()) & (df['VTYPE'] == vtype), 'DISP'] = avg_disp

In [81]:
df['DISP'] = df['DISP'].astype(int)

In [82]:
df.head()

,SEQ,MNAME,PRICE,MYEAR,MILEAGE,COLOR,TRANS,F_TYPE,DISP,VTYPE,VNUM,CU_HIS,MVD_HIS,AVD_HIS,FD_HIS,VT_HIS,US_HIS,L_NAME
0,1,한국GM 쉐보레 스파크 밴 2인승 밴,230,2015,164960,흰색,오토,가솔린,995,경차,64무8645,0,0,0,0,0,1,NaN
1,2,한국GM 쉐보레 트랙스 1.6 디젤 LTZ,940,2015,38763,회색,오토,디젤,1645,소형,65우0885,0,0,0,0,0,6,NaN
2,3,한국GM 쉐보레 크루즈 1.8 LT 기본형,440,2012,117158,흰색,오토,가솔린,1796,준중형,49저9588,0,0,0,0,0,1,NaN
3,4,한국GM 신형 캡티바 2.0 스페셜 에디션 5인승 퍼펙트 블랙,1450,2017,76000,검정색,오토,디젤,1956,SUV,16로1199,0,0,0,0,0,1,NaN
4,5,한국GM 올 뉴 말리부 1.5 터보 LTZ,1230,2016,59829,파랑색,오토,가솔린,1490,중형,64주0343,0,0,0,0,0,2,NaN

# 3. 팰리세이드 통일하기

In [83]:
# '펠'을 '팰'로 바꿉니다.
df['MNAME'] = df['MNAME'].str.replace('펠', '팰')

In [84]:
# '팰리세이드'를 포함하는 행을 찾습니다.
filtered_df = df[df['MNAME'].str.contains('펠리세이드')]
filtered_df

Empty DataFrame
Columns: [SEQ, MNAME, PRICE, MYEAR, MILEAGE, COLOR, TRANS, F_TYPE, DISP, VTYPE, VNUM, CU_HIS, MVD_HIS, AVD_HIS, FD_HIS, VT_HIS, US_HIS, L_NAME]
Index: []

# 3. L_NAME 채우기

In [85]:
models = {'EQ900': '제네시스',
 'G70': '제네시스',
 'G80': '제네시스',
 'G90': '제네시스',
 'GV60': '제네시스',
 'GV70': '제네시스',
 'GV80': '제네시스',
 'i30': '현대',
 'i40': '현대',
 '갤로퍼': '현대',
 '그랜저': '현대',
 '넥쏘': '현대',
 '다이너스티': '현대',
 '라비타': '현대',
 '리베로': '현대',
 '마르샤': '현대',
 '마이티': '현대',
 '맥스크루즈': '현대',
 '메가트럭': '현대',
 '베뉴': '현대',
 '카운티': '현대',
 '현대트럭': '현대',
 '베라크루즈': '현대',
 '베르나': '현대',
 '벨로스터': '현대',
 '스타렉스': '현대',
 '스타리아': '현대',
 '싼타페': '현대',
 '쏘나타': '현대',
 '쏠라티': '현대',
 '아반떼': '현대',
 '아슬란': '현대',
 '아이오닉': '현대',
 '아이오닉5': '현대',
 '아이오닉6': '현대',
 '아토스': '현대',
 '에쿠스': '현대',
 '엑센트': '현대',
 '엑셀': '현대',
 '엑시언트': '현대',
 '엘란트라': '현대',
 '제네시스쿠페': '현대',
 '제네시스': '현대',
 '캐스퍼': '현대',
 '코나': '현대',
 '클릭': '현대',
 '테라칸': '현대',
 '투스카니': '현대',
 '투싼': '현대',
 '트라고': '현대',
 '트라제XG': '현대',
 '파비스': '현대',
 '팰리세이드': '현대',
 '유니버스': '현대',
 '에어로타운': '현대',
 '포레스트': '현대',
 '포니': '현대',
 '포터': '현대',
 'EV6': '기아',
 'EV9': '기아',
 'K3': '기아',
 'K5': '기아',
 'K7': '기아',
 'K8': '기아',
 'K9': '기아',
 '니로': '기아',
 '레토나': '기아',
 '로체': '기아',
 '록스타': '기아',
 '모닝': '기아',
 '모하비': '기아',
 '봉고': '기아',
 '비스토': '기아',
 '세레스': '기아',
 '세피아': '기아',
 '셀토스': '기아',
 '스토닉': '기아',
 '스팅어': '기아',
 '스펙트라': '기아',
 '스포티지': '기아',
 '그랜버드': '기아',
 '콩코드': '기아',
 '코스모스': '기아',
 '쎄라토': '기아',
 '쏘렌토': '기아',
 '쏘울': '기아',
 '엑스트렉': '기아',
 '엔터프라이즈': '기아',
 '오피러스': '기아',
 '옵티마': '기아',
 '카니발': '기아',
 '카렌스': '기아',
 '캐피탈': '기아',
 '포르테': '기아',
 '포텐샤': '기아',
 '프라이드': '기아',
 '프런티어': '기아',
 'G2X': '한국GM',
 '다마스': '한국GM',
 '대우버스': '한국GM',
 '라보': '한국GM',
 '라세티': '한국GM',
 '르망': '한국GM',
 '마티즈': '한국GM',
 '매그너스': '한국GM',
 '베리타스': '한국GM',
 '브로엄': '한국GM',
 '말리부': '한국GM',
 '볼트': '한국GM',
 '스파크': '한국GM',
 '아베오': '한국GM',
 '올란도': '한국GM',
 '이쿼녹스': '한국GM',
 '임팔라': '한국GM',
 '카마로': '한국GM',
 '캡티바': '한국GM',
 '콜로라도': '한국GM',
 '콜벳': '한국GM',
 '크루즈': '한국GM',
 '타호': '한국GM',
 '트래버스': '한국GM',
 '트랙스': '한국GM',
 '트레': '한국GM',
 '씨에로': '한국GM',
 '아카디아': '한국GM',
 '알페온': '한국GM',
 '에스페로': '한국GM',
 '윈스톰': '한국GM',
 '젠트라': '한국GM',
 '토스카': '한국GM',
 '티코': '한국GM',
 '프린스': '한국GM',
 '노부스': '한국GM',
    '레스타': '한국GM',
 'QM3': '르노코리아',
 'QM5': '르노코리아',
 'QM6': '르노코리아',
 'SM3': '르노코리아',
 'SM5': '르노코리아',
 'SM6': '르노코리아',
 'SM7': '르노코리아',
 'XM3': '르노코리아',
 '마스터': '르노코리아',
 '조에': '르노코리아',
 '캡처': '르노코리아',
 '클리오': '르노코리아',
 '트위지': '르노코리아',
 '렉카': 'KG모빌리티',
 '렉스턴': 'KG모빌리티',
 '로디우스': 'KG모빌리티',
 '무쏘': 'KG모빌리티',
 '액티언': 'KG모빌리티',
 '이스타나': 'KG모빌리티',
 '체어맨': 'KG모빌리티',
 '카이런': 'KG모빌리티',
 '코란도': 'KG모빌리티',
 '토레스': 'KG모빌리티',
 '티볼리': 'KG모빌리티',
 '칼리스타': 'KG모빌리티',
 'CL클래스': '벤츠',
 'CLA클래스': '벤츠',
 'CLK클래스': '벤츠',
 'CLS클래스': '벤츠',
 'GL클래스': '벤츠',
 'GLA클래스': '벤츠',
 'GLB클래스': '벤츠',
 'GLC클래스': '벤츠',
 'GLE클래스': '벤츠',
 'GLK클래스': '벤츠',
 'GLS클래스': '벤츠',
 'GLA': '벤츠',
 'GLB': '벤츠',
 'GLC': '벤츠',
 'GLE': '벤츠',
 'GLK': '벤츠',
 'GLS': '벤츠',
 'SL클래스': '벤츠',
 'SLC클래스': '벤츠',
 'SLK클래스': '벤츠',
'V클래스': '벤츠',
 'A클래스': '벤츠',
 'B클래스': '벤츠',
 'C클래스': '벤츠',
 'M클래스': '벤츠',
 'E클래스': '벤츠',
 'G클래스': '벤츠',
 'R클래스': '벤츠',
 'S클래스': '벤츠',
 'AMG': '벤츠',
 'CL-클래스': '벤츠',
 'CLA-클래스': '벤츠',
 'CLK-클래스': '벤츠',
 'CLS-클래스': '벤츠',
 'EQA': '벤츠',
 'EQB': '벤츠',
 'EQC': '벤츠',
 'EQE': '벤츠',
 'EQS': '벤츠',
 'G-클래스': '벤츠',
 'GL-클래스': '벤츠',
 'GLA-클래스': '벤츠',
 'GLB-클래스': '벤츠',
 'GLC-클래스': '벤츠',
 'GLE-클래스': '벤츠',
 'GLK-클래스': '벤츠',
 'GLS-클래스': '벤츠',
 'SL-클래스': '벤츠',
 'SLC-클래스': '벤츠',
 'SLK-클래스': '벤츠',
 'SLS': '벤츠',
 'A-클래스': '벤츠',
 'B-클래스': '벤츠',
 'C-클래스': '벤츠',
 'V-클래스': '벤츠',
 'M-클래스': '벤츠',
 'R-클래스': '벤츠',
 'S-클래스': '벤츠',
 'E-클래스': '벤츠',
 '스프린터': '벤츠',
 '1시리즈': 'BMW',
 '2시리즈': 'BMW',
 '3시리즈': 'BMW',
 '4시리즈': 'BMW',
 '5시리즈': 'BMW',
 '6시리즈': 'BMW',
 '7시리즈': 'BMW',
 '8시리즈': 'BMW',
 'M시리즈': 'BMW',
 'X1': 'BMW',
 'X2': 'BMW',
 'X3': 'BMW',
 'X4': 'BMW',
 'X5': 'BMW',
 'X6': 'BMW',
 'X7': 'BMW',
 'Z4': 'BMW',
 'i3': 'BMW',
 'i4': 'BMW',
 'i5': 'BMW',
 'i7': 'BMW',
 'i8': 'BMW',
 'iX': 'BMW',
 'iX3': 'BMW',
 '그란투리스모': 'BMW'}

In [86]:
df['L_NAME'] = df['L_NAME'].astype(str)

for key, value in models.items():
    # Check if the 'MNAME' column contains the key
    mask = df['MNAME'].str.contains(key)
    # Update the values in the 'L_NAME' column where the mask is True
    df.loc[mask, 'L_NAME'] = value + ' ' + key

In [87]:
df.head()

,SEQ,MNAME,PRICE,MYEAR,MILEAGE,COLOR,TRANS,F_TYPE,DISP,VTYPE,VNUM,CU_HIS,MVD_HIS,AVD_HIS,FD_HIS,VT_HIS,US_HIS,L_NAME
0,1,한국GM 쉐보레 스파크 밴 2인승 밴,230,2015,164960,흰색,오토,가솔린,995,경차,64무8645,0,0,0,0,0,1,한국GM 스파크
1,2,한국GM 쉐보레 트랙스 1.6 디젤 LTZ,940,2015,38763,회색,오토,디젤,1645,소형,65우0885,0,0,0,0,0,6,한국GM 트랙스
2,3,한국GM 쉐보레 크루즈 1.8 LT 기본형,440,2012,117158,흰색,오토,가솔린,1796,준중형,49저9588,0,0,0,0,0,1,한국GM 크루즈
3,4,한국GM 신형 캡티바 2.0 스페셜 에디션 5인승 퍼펙트 블랙,1450,2017,76000,검정색,오토,디젤,1956,SUV,16로1199,0,0,0,0,0,1,한국GM 캡티바
4,5,한국GM 올 뉴 말리부 1.5 터보 LTZ,1230,2016,59829,파랑색,오토,가솔린,1490,중형,64주0343,0,0,0,0,0,2,한국GM 말리부

In [89]:
df.to_csv('kb_whole_car(6th_processed).csv', encoding='utf-8', index=False)